$main-color: #51246e;
$main-font-bold: 'Averta-Semibold', Helvetica, Arial, sans-serif;
$main-font: 'Averta-Regular', Helvetica, Arial, sans-serif;
$main-font-think: 'Averta-Thin', Helvetica, Arial, sans-serif;